@{
    ViewData["Title"] = "Fin del Juego";
}

<div class="text-center mt-5">
    <h2>Juego Terminado, @ViewBag.Username</h2>
    <h3>Tu puntaje final es: @ViewBag.PuntajeFinal</h3>

    <a href="@Url.Action("ConfigurarJuego", "Home")" class="btn btn-primary mt-3">Volver a Jugar</a>
</div>