@{
    ViewData["Title"] = "Index";
}

<div>
  <img src = "~/imagenes/logo.webp">
</div>

<div class="card" style="width: 18rem;">
  <img src="~/imagenes/preguntados.webp" class="card-img-top" alt="preguntados">
  <div class="card-body">
    <h5 class="card-title">DESEA JUGAR</h5>
    <p class="card-text"></p>
    <a href='@Url.Action("ConfigurarJuego", "Home")' class="btn btn-primary">JUGAR</a>
  </div>
</div>

