@{
    ViewData["Title"] = "Index";
}

<div class="text-center my-4">
    <img src="~/imagenes/logo.webp" alt="Logo del Juego" class="img-fluid">
</div>

<div class="card mx-auto" style="width: 18rem;">
    <img src="~/imagenes/preguntados.webp" class="card-img-top" alt="Imagen de Preguntados">
    <div class="card-body text-center">
        <h5 class="card-title">¿Desea Jugar?</h5>
        <p class="card-text">¡Preparate para un juegazo diseñado por el señor Lewkowicz y Don Luca!</p>
        <a href='@Url.Action("ConfigurarJuego", "Home")' class="btn btn-primary">Jugar</a>
    </div>
</div>