@{
    ViewData["Title"] = "Resultado de la Respuesta";
}

<div class="text-center mt-5">
    @if (ViewBag.EsCorrecta)
    {
        <div class="alert alert-success" role="alert">
            ¡Respuesta correcta pa, bien ahi😎! 
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Respuesta incorrecta burro. La respuesta correcta era: @ViewBag.RespuestaCorrecta.Contenido
        </div>
    }

    <a href="@Url.Action("Jugar", "Home")" class="btn btn-primary mt-3">Siguiente Pregunta</a>
</div>